page-home-dashboard {
    ion-header {
        ion-toolbar {

        }
    }
    ion-content {
        ion-card {
             &.report-card{
                box-shadow: none;

                ion-card-content {
                    padding: 0;
                }
            }
        }

        .box {
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            background: #ffffff;
          background: linear-gradient(135deg, transparent 0, #ffffff 0) top left, 
            linear-gradient(225deg, transparent 0, #ffffff 0) top right, 
            linear-gradient(315deg, transparent 15px, #ffffff 0) bottom right, 
            linear-gradient(45deg, transparent 0, #ffffff 0) bottom left;
            background-size: 52% 52%;
          background-repeat: no-repeat;
        
          .box-body {
            padding: 20px;
        
              &:before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                border-width: 20px 20px 0 0;
                border-style: solid;
                border-color: #DBE3E9 transparent transparent #DBE3E9;
                background: transparent;
                display: block;
                width: 0;
            }
          }
          
          .box-widget {
            border-radius: 0;
            padding: 0 30px 20px 0;
            margin: -40px -20px 0;
        
            h2 span {
              background: #000;
              font-size: 13px;
              margin: 15px 0 0;
              padding: 3px 15px;
              color: #fff;
              display: inline-block;
        
              &.bg-green {
                background-color: #45B6B0 !important;
              }
        
              &.bg-red {
                background-color: #FF6B6B !important;
              }
              &.bg-aqua {
                background-color: #65C3DF !important;
              }
              &.bg-blue {
                background-color: #1688EC !important;
              }
            }
        
            h4 {
              font-size: 45px;
              font-weight: bold;
              text-align: right;
        
              &.text-green {
                color: #45B6B0 !important;
              }
        
              &.text-red {
                color: #FF6B6B !important;
              }
              &.text-aqua {
                color: #65C3DF !important;
              }
              &.text-blue { 
                color: #32526E !important;
              }
            }
        
            h5 {
              font-size: 16px;
              font-weight: 100;
              text-align: right;
              text-transform: uppercase;
            }
        
            ion-icon {
              background: #c3ccdb;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: inline-block;
              text-align: center;
              color: #fff;
              font-size: 40px;
              line-height: 79px;
              float: left;
              margin: 0 20px;
              padding: 0;
            }
          }
        }
    }
}