<!-- <ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="report-card">
    <ion-card-header>
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>{{'dashboard.summary' | localizedresource | async}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              <div class="box">
                  <div class="box-body">
                      <div class="box-widget">
                          <h2>
                            <span class="bg-blue">{{'common.cases' | localizedresource | async}}</span>
                          </h2>
                          <ion-icon name="people"></ion-icon>
                          <h4 class="text-blue">{{globalInfo?.result.total}}</h4>
                          <h5>{{'common.total' | localizedresource | async}}</h5>
                      </div>
                  </div>
              </div>
          </ion-col>
          <ion-col>
              <div class="box">
                  <div class="box-body">
                      <div class="box-widget">
                          <h2>
                              <span class="bg-aqua">{{'common.cases' | localizedresource | async}}</span>
                          </h2>
                          <ion-icon name="checkmark-circle-outline"></ion-icon>
                          <h4 class="text-aqua">{{globalInfo?.result.confirmed}}</h4>
                          <h5>{{'common.confirmed' | localizedresource | async}}</h5>
                      </div>
                  </div>
              </div>
          </ion-col>
          <ion-col>
              <div class="box">
                  <div class="box-body">
                      <div class="box-widget">
                          <h2>
                              <span class="bg-green">{{'common.cases' | localizedresource | async}}</span>
                          </h2>
                          <ion-icon name="bulb"></ion-icon>
                          <h4 class="text-green">{{globalInfo?.result.recovered}}</h4>
                          <h5>{{'common.recovered' | localizedresource | async}}</h5>
                      </div>
                  </div>
              </div>
          </ion-col>
          <ion-col>
              <div class="box">
                  <div class="box-body">
                      <div class="box-widget">
                          <h2>
                              <span class="bg-red">{{'common.cases' | localizedresource | async}}</span>
                          </h2>
                          <ion-icon name="alert"></ion-icon>
                          <h4 class="text-red">{{globalInfo?.result.deaths}}</h4>
                          <h5>{{'common.deaths' | localizedresource | async}}</h5>
                      </div>
                  </div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content [class.skeleton-loading]="!globalInfoChartOptions">
      <apx-chart #categoryChart *ngIf="globalInfoChartOptions" 
      [series]="globalInfoChartOptions.series"
      [chart]="globalInfoChartOptions.chart"
      [legend]="globalInfoChartOptions.legend"
      [labels]="globalInfoChartOptions.labels"
    ></apx-chart>
    </ion-card-content>
  </ion-card>
  <ion-card class="countries-card">
    <ion-card-header>
      <ion-icon name="globe"></ion-icon>
      <ion-label>{{'dashboard.countries' | localizedresource | async}}</ion-label>
    </ion-card-header>
    <ion-card-content class="custom-table">
      <div class="countries-card-bar">
        <div class="countries-card-bar-left">
          <ion-searchbar animated debounce="500" placeholder="" 
              [(ngModel)]="searchText" (ionChange)="onSearchChanged($event)" 
              (ionClear)="onSearchCleared($event)"></ion-searchbar>
        </div>
      </div>
      <table *ngIf="globalCountries">
          <thead>
            <tr>
              <th>{{'dashboard.name' | localizedresource | async}}</th>
              <th>{{'common.active' | localizedresource | async}}</th>
              <th>{{'common.recovered' | localizedresource | async}}</th>
              <th>{{'common.deaths' | localizedresource | async}}</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of globalCountries.result">
              <td><strong [innerHTML]="item['countryName'] | highlightsearch: searchText"></strong></td>
              <td><ion-badge color="primary">{{ item.confirmed }}</ion-badge></td>
              <td><ion-badge color="primary">{{ item.recovered }}</ion-badge></td>
              <td><ion-badge color="danger">{{ item.deaths }}</ion-badge></td>
              <!-- <td>
                <ion-button fill="clear">
                  <ion-icon slot="icon-only" name="information"></ion-icon>
                </ion-button>
              </td> -->
            </tr>
          </tbody>
      </table>
  </ion-card-content>
</ion-card>
</ion-content>
